:root {
  background-color: rgb(150, 150, 150);
  --sec-clr: hsl(172, 63%, 55%);
}

button {
  transition: 1.5s;
  background: var(--sec-clr);
}

button:hover {
  transform: scale(1.05);
  background: hsl(from var(--sec-clr) calc(h + 10) s calc(l + 10));
}
/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.links,
.links:link,
.links:hover,
.links:active {
  color: black;
}

.headerLogo {
  width: 32px;
}

/* MAIN */
main {
  min-height: 80vh;
}

.done {
  text-decoration: line-through;
}
.sectionHero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#todoDisplay {
  background-color: rgb(224, 224, 153);
  padding: 30px;
  list-style: lower-alpha inside;
  min-width: 30vw;
  border-radius: 50px;
}


#todoDisplay > * {
  border-bottom: 2px outset black;
  padding: 7px 0px;
}

#todoDisplay > * > button {
  float: right;
  margin: 0px 5px
}


/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
