/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}

.links,
.links:link,
.links:hover,
.links:active {
  color: black;
}

.headerLogo {
  width: 32px;
}

/* MAIN */
main {
  min-height: 100vh;
}

.sortable-item {
  display: none;
  background-color: blueviolet;
  color: yellow;
}

.over {
  opacity: 0.4;
}

.done {
  text-decoration: line-through;
}
/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
